body{
	font-size: 30px;
	font-family: tahoma;
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;
	margin: 30px;
	text-align: center;
	margin: 10px;
	padding-top: 120px;
}

.container{

}

img{
	border: 5px solid black;
	width:100%;
	height:auto;
	z-index: 1;
}

.h1{
	color: orange;
	font-family: tahoma;
	font-size: 40px;
	text-align: center;
	opacity: .9;
}

h2{
	font-size: 40px;

}

.h3{
	font-size: 30px;
	text-align: center;
}

tr{
	font-size: 40px;
	padding: 40px;
}

td{
	font-size: 40px;
	padding: 40px;
}

nav{
	font-family: tahoma;
	font-size: 18px;
	margin-bottom: 60px;
}

.row{
	margin-bottom: 15px;
}

.padding{
	padding: 50%;
}

.smallfont{
	font-size: 30px;
}

#panels {
	background-color: black;
	opacity: .8;
	padding: 40px;
	margin: 15px;
	z-index: -1;
}

.float{
	
	margin-top: 10px;
	margin-right: 10px;
	width: 100%;
	height: auto;
}

a:link{
	color: grey;
}	

a:visited{
	color: grey;
}

a:hover{
	color: orange;
}

a: active{
	color: orange;
}

